<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".xml" mimeType="application/xml" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^(sitemap\.xml|robots\.txt|favicon\.ico)$" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
        <rule name="React Router" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>